doctype html
html
    head
        title testTask
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='images/icomoon/ic-test.css')
    body
        include  components/header.pug
        main.main
            .main__wrapper Hello, my frie
        include components/footer.pug        
