.footer{
    width: $container;
    margin: auto;
   &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
     &__logo{
        margin-right: 160px;
    }

}
